<ul class="nav nav-pills">
  <li class><%= link_to 'inbox', user_messages_path(current_user) %></li>
  <li class="active"><%= link_to 'sent', user_sent_path(current_user) %></li>
</ul>

<% if @messages.blank? %>
<label>Sent Items is empty</label>
<% else %>
  <table class="table table-hover table-bordered">
    <thead>
      <th>To</th>
      <th>Subject</th>
      <th>Sent</th>
    </thead>
    <tbody>
    <% @messages.each do |message| %>
      <% @recipient = User.find_by(id: [message.recipient_id.to_i]) %>
      <tr>
        <td><%= link_to @recipient.name, user_path(message.recipient_id) %></td>
        <td><%= link_to message.subject, user_message_path(current_user, message) %></td>
        <td><%= message.transform_date %></td>
        <!-- binding.pry %> -->
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>


