<div class="well" id="profile">
  <div class="row">  
    <div class="col-md-5" id="user-col-5">
      <h3><strong><%= @user.name.upcase %></strong></h3>
      <img class="profile-image" src="<%= @user.image_url %>" alt="profile image">
        <button type="button" class="btn btn-primary btn-medium" data-toggle="modal" data-target="#myModal">
          <span class="glyphicon glyphicon-envelope"></span> Message
        </button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel", style="font-size:20px; font-family: oxygen !important; font-weight: 900 !important;"><%= "To: #{@user.name}" %></h4>
        <%= form_for [@user, Message.new], :action => :create, :hmtl => {:class => 'form',:role=> 'form'} do |f| %>
          <h4 class="modal-title" id="myModalLabel", style="font-size:20px; font-family: oxygen !important; font-weight: normal !important">
              <%= f.label :subject, "Subject: " %>
              <%= f.text_field :subject, :class => 'subject' %>
          </h4>
      </div>
      <div class="modal-body">
          <center>
            <div class="form-group">
              <%= f.text_area :body, cols: 10, rows: 40, :class => 'body' %></br>
            </div>
            <div class="form-group">
              <%= f.hidden_field :recipient_id, {:value => "#{@user.id}"}%></br>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit nil, class: "btn btn-primary" %>
          <% end %>
          </center>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- ################### END EMAIL MODAL ################### -->

        <% if current_user.id == @user.id && @basic_profile == nil %>
        <a href="/linkedin_oauth_url" class="btn btn-primary btn-larg">Connect to LinkedIn</a>
        <% end  %>
        <center><%= rating_for @user %></center>
    </div>

    <div class="col-md-7" id="user-col-7">   
      <ul class="user-profile"> 
        <li>About: <%= @user.about %></li>
        <li>Interests: <%= @user.interests %></li>
        <% if @user.role == "vendor" %>
        <li>Skills: <%= @user.skills %></li>  
        <li>Availability: <%= @user.availability %></li>
        <% end %>
      </ul>   
      <% if @basic_profile != nil %>
      <h3>Verification</h3>
      <!-- <div class="row">
      <div class="span4"> -->
      <div class="linkedin">
        <a href="<%= @basic_profile.public_profile_url %>"><img src="<%= @basic_profile.picture_url %>" style="float: left;margin: 5px; border-radius: 10px;"></a><br><br>
        <p><%= @basic_profile.formatted_name %></p>
              <br>
        <p><%= @basic_profile.headline %></p>
        <br>
      <% end %>
     </div>
    </div>
  </div>
</div>

<!-- ######################### VENDOR'S ACTIVITIES LIST #################### -->
<!-- if @user.role == "vendor" && @user == current_user %> -->
  <%= render "users/vendor" %> 
 <!-- end %> -->
<!-- ######################### END VENDOR'S ACTIVITIES LIST#################### -->

<div class="well" id="reviews">
  <h3>Reviews</h3>

  <%= render "comments/comments" %>
  <%= render "comments/form" %>
</div>


