 <div class="well" id="profile">
  <div class="row">  
    <div class="col-md-5" id="user-col-5">
      <h3><strong><%= @user.name.upcase %></strong></h3>
      <img class="profile-image" src="<%= @user.image_url %>" alt="profile image">
        <% if current_user.id == @user.id && @basic_profile == nil %>
        <a href="/linkedin_oauth_url" class="btn btn-primary" id="linkedin-button">Connect to LinkedIn</a>
        <% end  %>
        <%= render "users/message" %>
        <center><%= rating_for @user %></center>
    </div>
    <div class="col-md-7" id="user-col-7">   
      <ul class="user-profile"> 
        <li>About: <%= @user.about %></li>
        <li>Interests: <%= @user.interests %></li>
        <% if @user.role == "vendor" %>
        <li>Availability: <%= @user.availability %></li>
        <li>Certifications: <%= @user.certifications %></li> 
        <li>Skills: <%= @user.skills %></li>  
        <% end %>
      </ul>   
      <% if @basic_profile != nil %>
      <h3>Verification</h3>
        <div class="linkedin">
          <a href="<%= @basic_profile.public_profile_url %>"><img src="<%= @basic_profile.picture_url %>" style="float: left;margin: 5px; border-radius: 10px;"></a><br><br>
          <p><%= @basic_profile.formatted_name %></p>
                <br>
          <p><%= @basic_profile.headline %></p>
          <br>
        <% end %>
       </div>
    </div>
  </div>

  <!-- ######################### VENDOR'S ACTIVITIES LIST #################### -->
  <%= render "users/vendor" %> 
  <!-- ######################### END VENDOR'S ACTIVITIES LIST#################### -->

 </div> <!-- end of well -->

<div class="comment-form">
  <%= render "comments/form" %>
</div>

  <%= render "comments/comments" %> 


<% content_for :javascript_includes do %>
  <%= javascript_include_tag 'jquery.raty.js','letsrate.js'%>
<% end %> 

