<h2><%= "#{@user.name}" %></h2>
<button type="button" class="btn btn-primary btn-medium" data-toggle="modal" data-target="#myModal">
  <span class="glyphicon glyphicon-envelope"></span> Message
</button>
</br>
</br>
<button type="button" class="btn btn-primary btn-medium" form class='button_to' method='get' action='<%= link_to user_calendar_path(current_user) %>'>
  <span class="glyphicon glyphicon-calendar"></span> Calendar
</button>
</br>
</br>
<div class="well">
<ul>
  <li>Name: <%= @user.name %></li>
  <li>About: <%= @user.about %></li>
  <li>Interests: <%= @user.interests %></li>
<% if @user.role == "vendor" %>
  <li>Role: <%= @user.role %></li>
  <li>Skills: <%= @user.skills %></li>
  <li><%= link_to "Activities I teach", user_activities_path(@user.id)  %></li>
  <% @activities.each do  |activity| %>
  <li>Activity Description: <%= activity.description %></li>
<% end %>    
<% end %>
</ul>
</div>

<!-- ######################### VENDOR INFORMATION #################### -->
<% if @user.role == "vendor" && @user == current_user %>
<%= render "users/vendor" %> 
<% end %>

<!-- ######################### END #################### -->

<!-- ######################### CLIENT INFORMATION #################### -->
<% if @user.role == "client" && @user == current_user %>
<%= render "users/client" %> 
<% end %>

<!-- ######################### END #################### -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel", style="font-size:20px; font-family: oxygen !important; font-weight: 900 !important;"><%= "To: #{@user.name}" %></h4></br>
        <%= form_for [@user, Message.new], :action => :create, :hmtl => {:class => 'form',:role=> 'form'} do |f| %>
          <h4 class="modal-title" id="myModalLabel", style="font-size:20px; font-family: oxygen !important; font-weight: normal !important">
              <%= f.label :subject, "Subject: " %>
              <%= f.text_field :subject, :class => 'subject' %>
            </br>
          </h4>
      </div>
      <div class="modal-body">
          <center>
            <div class="form-group">
              <%= f.text_area :body, cols: 10, rows: 40, :class => 'body' %></br>
            </div>
            <div class="form-group">
              <%= f.hidden_field :recipient_id, {:value => "#{@user.id}"}%></br>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit nil, class: "btn btn-primary" %>
          <% end %>
          </center>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

Rating : <%= rating_for @user %>

<h2>Comments</h2>

<%= render "comments/comments" %>
<%= render "comments/form" %>


