<h6>Create an activity:</h6>

 <div class="well">

<div class="panel-body">
  <%= form_for [current_user, @activity], :action => :create, :html => {:class => 'form',:role => 'form'} do |f| %>

 
  <div class="form group">
    <%= f.label :image_url %>
    <%= f.text_field :image_url %>
  </div>
  
  <div class="form group">
    <%= f.label :description %></br> 
    <%= f.text_field :description %></br>
  </div>  

  <div class="form group">
    <%= f.label :tags %></br> 
    <%= f.text_field :tags %></br> 
  </div> 

  <div class="form group">
    <%= f.label :price %></br> 
    <%= f.number_field :price %></br> 
  </div> 

  <div class="form group">
    <%= f.label :date %></br> 
    <%= f.date_field :scheduled_at %></br> 
  </div>

   <br>
   <br>
  <%= f.submit nil, class: "btn btn-primary" %>
   <% end %> 

</div>
</div>

