<div class="well">
  <h3><%= @user.name %>'s activities:</h3>
  <div class="row">
    <% @activities.each do |activity| %>
    <div class="col-md-4">
      <a href="<%= activity_path(activity.id) %>" class="thumbnail">
        <img class="activities" src="<%= activity.image_url %>" alt="activity image" height="280px" width="355px"> 
      </a>
      <ul class="activities-list">
        <li>Description: <%= activity.description %></li>
        <li>Tags: <%= link_to activity.tag_list, activity_path(activity.id) %></li>
        <li>Price: $<%= activity.price %></li>
      </ul>
    </div>
    <% end %>
  </div>
</div>







