<div class="well" id="activity">
  <div class="row">
    <div class="col-md-5" id="user-activity-col-5">
         <a href="<%= activity_path(@activity.id) %>" class="thumbnail">
        <img class="activities" src="<%= @activity.image_url %>" alt="@activity image" height="280px" width="355px"></a>
        <br>
        <center><%= rating_for @activity %></center>
    </div>
    <div class="col-md-7" id="user-activity-col-7">
        <ul class="activity-ul-list">
          <li>Name: <%= @activity.name %></li>
          <li>Description: <%= @activity.description %></li>
          <li>Tags: <%= @activity.tag_list %></li>
          <li>Price: $<%= @activity.price %>0</li>
          <li>This activity is taught by: <%= link_to @vendor.name, user_path(@vendor.id) %></li>
          <% if current_user.id == @activity.vendor_id %>
          <li><%= link_to "Edit this activity", edit_activity_path(@activity) %></li>
          <% end %>
        </ul>
    </div>
  </div>
</div>

  <% if current_user.id != @activity.vendor_id %>
    <%= button_to activity_appointments_path(@activity.id), :id => @activity.id, :method => :create, :class => "btn btn-primary btn-medium" do %>
    <span class="glyphicon glyphicon-ok-circle"></span> Book it!
    <!-- binding.pry %> -->
    <% end %>
  <% end %>
  <br>
  <br>


  <center><h3>Reviews</h3></center>
  <br>

  <%= render "comments/comments" %>
  <%= render "comments/form" %>
</div>









