<div class="well" id="activity">
  <div class="row">
    <div class="col-md-5" id="user-activity-col-5">
         <a href="<%= activity_path(@activity.id) %>" class="thumbnail">
        <img class="activities" src="<%= @activity.image_url %>" alt="@activity image" height="280px" width="355px"></a>
        <br>
        <center><%= rating_for @activity %></center>
        <br>
          <% if current_user.id != @activity.vendor_id %>
          <%= button_to activity_appointments_path(@activity.id), :id => @activity.id, :method => :create, :class => "btn btn-primary btn-medium" do %>
          <span class="glyphicon glyphicon-ok-circle"></span> Book it!
          <!-- binding.pry %> -->
          <% end %>
          <% end %>
    </div>
    <div class="col-md-7" id="user-activity-col-7">
        <ul class="activity-ul-list">
          <li><%= @activity.name %></li>
          <li>DESCRIPTION: <%= @activity.description %></li>
          <li>SUITABLE FOR AGES: <%= @activity.age_range %></li>
          <li>LOCATION: <%= @activity.venue %></li>
          <li>PRICE: $<%= @activity.price %>0</li>
          <li>THIS ACTIVITY IS TAUGHT BY: <%= link_to @vendor.name, user_path(@vendor.id) %></li>
          <% if current_user.id == @activity.vendor_id %>
          <li><%= link_to "Edit this activity", edit_activity_path(@activity) %></li>
          <% end %>
        </ul>
    </div>
  </div>
</div>

<div class="comment-form">
    <%= render "comments/form" %>
</div>    
    <%= render "comments/comments" %>
    
<% content_for :javascript_includes do %>
  <%= javascript_include_tag 'jquery.raty.js','letsrate.js'%>
<% end %> 









