<nav class="navbar navbar-inverse navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to "Kid-Friend.ly", root_path, class: "navbar-brand" %>
  </div>

  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <!-- <li>< link_to "About", about_path ></li> -->
          <% if current_user.role == "vendor" %>
            <li><%= link_to "Teach a new activity", new_user_activity_path(current_user) %></li>
          <% end %>
          <li><%= link_to "Your dashboard", user_path(current_user) %></li>
          <li><%= link_to "Search activities", new_search_path %></li>
          <li><a href="<%= user_messages_path(current_user) %>"><i class="icon-folder-close"></i>Messages</a></li>
          <li><%= link_to "Edit profile", edit_user_registration_path %></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
          
        <% else %>
          <li><%= link_to "Sign in", new_user_session_path %></li>
        <% end %>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
